monster_arena.iml
.idea/
.DS_store/
.gradle/
local.properties
monster-arena.iml
app/app.iml
app/gradle/wrapper/gradle-wrapper.jar
app/gradle/wrapper/gradle-wrapper.properties
build/intermediates/lint-cache/api-versions-15-28.0.1.bin
build/intermediates/lint-cache/typos-en.txt-2.bin
build/intermediates/lint-cache/sdk-registry.xml/sdk-registry.xml
build/intermediates/lint-cache/maven.google/master-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/constraint/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/group-index.xml
build/intermediates/lint-cache/maven.google/com/android/support/test/espresso/group-index.xml
build/intermediates/lint-cache/maven.google/com/google/android/gms/group-index.xml
build/intermediates/lint-cache/maven.google/com/google/firebase/group-index.xml






